<div class="container h-100 mt-4">

<div>
<!-- Cabecera -->
  <nav class="navbar navbar-light bg-light ">
      <div class="container text-center p-2 ">
          <span class="mx-auto text-bold">Vanyl.io</span>
      </div>
  </nav>
</div>

<!--  code editor -->
<div class="mat-elevation-z8">
  <mat-tab-group class="example-container" mat-align-tabs="center" >>
      <mat-tab label="Javascript">
          <div class="col">
              <div class="code-editor" #codeEditorJ></div>
          </div>
      </mat-tab>
      <mat-tab label="HTML">
          <div class="col">
              <div class="code-editor" #codeEditorH></div>
          </div>
      </mat-tab>
      <mat-tab label="CSS">
          <div class="col">
              <div class="code-editor" #codeEditorC></div>
          </div>
      </mat-tab>
      <mat-tab label="DATA">
          <div class="col">
              <div class="code-editor" #codeEditorD></div>
          </div>
      </mat-tab>
      <mat-tab class="mat-elevation-z8" label="LIBRERÍAS">
        <div class="col">
            <!-- <form class="md-form form-sm"> -->
                <mat-form-field appearance="outline" class="filter" floatLabel="never" >
                    <input matInput placeholder="Insertar Script" aria-label="State" >
                </mat-form-field>
           <!-- </form> <br> -->
          <mat-selection-list  #libs  (selectionChange)="onSelection($event, libs.selectedOptions.selected)">
            <mat-list-option  class="list" *ngFor="let lib of librerias" [value]='lib.valor' >
              {{lib.nombre}}            :           {{lib.valor}}
            </mat-list-option>
          </mat-selection-list>
          <br><br>
        </div>
    </mat-tab>
  </mat-tab-group>
</div>

<br>

<!-- run  beautify buttons -->
<div class="row mb-4 justify-content-center mx-4">
    <div class="col-4 col-lg-2 col-md-3 col-sm-4 w-75">
        <button type="button" class="btn btn-beautify btn-sm btn-block px-4 mx-2" (click)="beautifyContent()">
            Beautify
        </button>
    </div>
    <div class="col-4 col-lg-2 col-md-3 col-sm-4 w-75">
        <button type="button" class="btn btn-beautify btn-sm btn-block px-4 mx-2" (click)="compile()">
            Run
        </button>
    </div>
    <div class="col-4 col-lg-2 col-md-3 col-sm-4 w-75">
        <button type="button" class="btn btn-beautify btn-sm btn-block px-4 mx-2" (click)="subir()">
            Guardar
        </button>
    </div>
</div>


<div class="row mt-4">
    <div class="col">
        <div class="label-box border"><span class="mx-4 font-weight-light">Output</span></div>
        <!-- <textarea class="form-control output" rows="6" disabled="true" aria-label="output-textarea"></textarea> -->
        <iframe class="col-lg-12 col-md-12 col-sm-12" style="height:350px;" id="code"></iframe>
    </div>
</div>

</div>
